.commentaire {
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   padding: 5%;
   margin: 0 3px 0 0;
   background-color: #111;
   border-radius: 10px;
   gap: 15px;
   align-items: flex-start;

 .nom, .com, .test {
    color: white;
 }

 .btnSupp {
   position: absolute;
   top: 0;
   right: 0;
   margin: 6px 6px 0 0;
   width: 40px;
   height: 40px;
 }
}