@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    background-color: black;
    color: white;
    /* -webkit-touch-callout: none; iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

fieldset {
    border: 2px solid rgb(251, 113, 133) !important;
}
.MuiInputBase-root:hover fieldset { 
    border: 2px solid white !important;
}
.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(244, 63, 94) !important;
}

ul {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 25, 25);
    border-radius: 10px;
}

.task > ::-webkit-scrollbar-thumb {
    background-color: rgb(123, 123, 243);
    border-radius: 15px;
}